.idea
__pycache__
protocol/committee/committee
protocol/graph/graph
protocol/listener/listener
protocol/proxdagDB
protocol/consensus/consensus
protocol/protocol
ML/datasets
proxdagDB/*
protocol/proxdagDB/*