.idea
__pycache__
protocol/committee/committee
protocol/graph/graph
protocol/listener/listener
protocol/proxdagDB
protocol/consensus/consensus
protocol/protocol
protocol/tmp
ML/datasets
proxdagDB/*
protocol/proxdagDB/*
ldb/*
protocol/ldb/*
simulator/peers/data
simulator/peers/client/data
simulator/ipfs
ML/FederatedLearning/data
simulator/peers/client/.env
simulator/peers/client/*.dat
simulator/peers/client/test.py
simulator/peers/tmp
logs/system.log
logs/metrics.log
logs/results/*.log
simulator/peers/peers.json
.gitignore
protocol/consensus/peers.json
simulator/peers/client/peers.json
*.log